*{
    box-sizing: border-box;
    padding:0;
    margin:0;
  }
  *{
    font-family: 'Anek Malayalam', sans-serif;
  }
  main{
    display: flex;
    flex-direction: column;

  }
  header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
    background-color: #f7a5b7;
    border: solid 0.3rem #cf206c;
    justify-content: space-evenly;
    align-items: center;
  }
  
  header nav ul{
    display:flex;
    flex-flow: row;
    list-style: none;
    text-decoration: none;  
  }
  
  header nav ul li{
    padding: 10px;
    color:grey;
  }
  header a{
    padding:2rem;
    color: #b62966;
    text-decoration: none;
  }
  button {
    color: whitesmoke;
  }
  #login {
    color:whitesmoke;
    background-color: #b62966;
    width:5rem;
    height:2rem;
    border-radius: 70px;
    border: none;
  }
  header input{
    border-radius: 70px;
    background-color: #ff7d99;
    border-color: #cf206c;
  }
  
  #banner {
    height: 85vh;
    width: 100%;
  }
  
  
  .sectioncolorbg{
    box-sizing: border-box;
    padding:1rem 3rem 1rem 3rem;
    height: fit-content;
    flex-direction: row;
    width: 100%;
    background-color: #ff7d99; 
  }
  
  h2{
    text-align: center;
    padding: 1%;
    padding:2%;
    color: #a60e50;
    font-size: 3rem;
  }

  .divoqepimg{
    display: flex;
    align-items: center;
  }

  .divoqepimg p {
    width: 70%;
    text-align: justify;
    margin-right: 8rem;
  }

  .oqeimg{
    width: 500px;
    height: 350px;
    border-radius: 40px;
    margin-top: -50px;
  }
  

  .alignbuttontocenter{
    text-align: center;
    width: 100%;
    height: fit-content;
    padding:2rem 0 1.5rem 0;

  }

  #oqebutton{
      color:grey;
      width:10rem;
      height:3rem;
      text-align: center;
      border-radius: 70px;
      color:whitesmoke;
      background-color: #b62966;
      border: none;
      font-size: large;


  }
  
  .button{
    padding: 10px;
    height:5vh;
    width: 7vw;
    background-color: pink;
  }

  .linkbutton{
    display: block;
    text-align: center;
    padding: 3rem;
  }

  .externalpadding{
    padding:2rem;
  }
  
  #servicosoferecidos{
    box-sizing: border-box;
    padding: 5vh 5vh 10vh 5vh;
    border: solid 1vw #ff7d99;
    width: 100%;
    height: 100vh;
  }
  #servicosoferecidosh2{
    color: #b62966;
    padding-bottom: 2rem;
  }

  .servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .servico{
    display: flex;
    flex-direction: column;
    width:28%;
    height: 30vh;
    border: solid 0.5vw #b62966;
    margin-bottom: 3rem;
  }

  .imagemServico {
    height: 50%;
    width: 100%;
  }

  .imagemServico img {
    height: 100%;
    object-fit: fill;
  }

  .imagemServico {

  }

  .fotoservico{
    width: 100%;
  }

  .descricaoservico{
    border-top: solid 0.5vw #b62966;
    width: 100%;
    height: 50%;
    padding: 5px 10px 10px 10px;
  }

  .descricaoservico h3 {
    margin-bottom: 5px;
  }

  .nomedoservico{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    margin: 0%;
    line-height: 0px;
    margin-bottom: 0%;
   
  }

  #outrosservicosbutton{

  }

 
 h4{
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .pqimg{
    width: 300px;
    height: 400px; 
  }

#agentetescutapai{
  
  width: 100%;
  height: fit-content;
  background-color: #b62966;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-right:1.5rem;
  padding-bottom: 2rem;
}
#agenteteescutatituloedescricaodiv{
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#agenteteescutatitulodiv{
  align-self: left;
  background-color: white;
  width:40%;
  height: fit-content;
  align-items: center;


}
#agenteteescutadescricaodiv{
  display: flex;
  padding:1rem;
  padding-bottom: 0.5rem;
  width:40% ;
  height: 12vh;
  border: solid 0.5vw white; 
  margin-top: 1rem;
  margin-left: auto;
  margin-bottom: 3rem;
}

#pesquisadevalidacaodivpai{
  background-color: white;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 2rem;


}
.graficodesenhoedescricao{
  padding: 1rem;
  display:flex;
  flex-direction: column;
  border: solid 0.5rem pink;
  width: 30%;
  align-items: center;
}

.piechart{
  display: flex;
  border-radius: 50%;
  background-color: grey;
  width: 40vh;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

#piechart1{
  background:repeating-conic-gradient(
    from 0deg,
    #cf206c 0deg  calc(3.6deg * 89),
    #ff87bb calc(3.6deg * 89) calc(3.6deg * 100)
  );
}

#piechart2{
  background:repeating-conic-gradient(
    from 0deg,
    #cf206c 0deg  calc(3.6deg * 60),
    #ff87bb calc(3.6deg * 60) calc(3.6deg * 100)
  );
}

.piechartpercentage{
  text-align: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 500;
}

.piechartdescription{
  padding: 1rem;
 text-align: center; 

}

#sectionduvidas{
  background-color: #ff7d99;
}

#duvidasimgdiv{
  margin-bottom: -0.4rem;
}
#duvidasimgedescricao{
  display: flex;
  flex-direction: row;
}
#duvidasimg{
  width: 550px;
  height: 300px;
  margin-bottom: 0;
  padding-bottom: 0;
  border: solid 0.5rem #cf206c;
  border-radius: 0px 15px 15px 0;
}
#descricaoebuttondivpai{
  padding: 3rem 5rem 3rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#duvidasdescricaodiv{
  width:100%;
  text-align: left;
}
#duvidasdescricaodiv h2{
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
}

#duvidasbuttondiv{

  width:100%;
  text-align: left;
  
}

#duvidasbutton{
  background-color: #b62966;
  width:10rem;
  height:3rem;
  text-align: center;
  border-radius: 70px;
  color:whitesmoke;
  background-color: #b62966;
  border: none;
  font-size: large;
}

footer{
  width: 100%;
  height: fit-content;
  background-color: grey;
  padding: 2.3rem;
}
footer h5{
  font-size: 1.5rem;
  font-weight: 400;
  color:#f7eef0;
}
footer h6{
  font-size: 1rem;
  font-weight: 300;
  color:#f7eef0;
  
}
#footerdivpai{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footersidesectionpai{
  /* border: solid 0.5rem blue; */
  width: 25%;
  height: fit-content;
}
.footersidesectiontop{
  border-bottom: solid 0.3rem #cf206c;
}
#footerbutton{
  
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 0.5rem blue; */
  width: 25%;
  height: fit-content;
  
}

#voltaraotopobutton{
  width:10rem;
  height:3rem;
  text-align: center;
  border-radius: 70px;
  color: whitesmoke;
  background-color: transparent;
  border: solid 0.3rem #cf206c;
  font-size: large;

}
#footersectionright{
  align-items: flex-end;
}

.pinkbgcorrigido{
  display: flex;
  flex-direction: column;
  background-color: #ff87bb;
  height: fit-content;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 3rem 2rem 3rem;
}

.pqresolvepaiimgep{
  display: flex;
  border: solid 0.5rem #b62966;
  width: 100%;
  padding: 2rem 5rem 2rem 5rem;

}

.pqimg{
  width: 400px;
  height: 400px;
}

.pqresolvep{
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  justify-content: center;

}
#pqresolvep1{
  padding:0 0 0 7rem;
}

#pqresolvep2{
  padding:0 7rem 0 0;
}

.pqresolvep h4 {
  text-align: center;
  padding-bottom: 1.5rem;
}


















  
  