*{
  box-sizing: border-box;
  margin:0;
  padding:0;

}

body{
  width: 100vw;
  font-size: 87.5%;
}
main{
  width: 100%;
  padding:4rem;
}

h1{
  text-align: center;
}

.subtitulos{
  color: #ff87bb;
}

.border{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.5rem solid #ff87bb ;
  padding: 1rem;
  height: 50%; 
}

#dadospessoaisbox{
  width: 50% ;
  height: 50%;
  background-color: gray;
  justify-content: space-between;
}

#senha{
  flex-direction: row;
}

#minhapagina{
  border: none;
  border-top:0.5rem solid #ff87bb;
}

.atributoesq{
align-items: flex-start;  
}

#criacaodesenha{
display: flex;
width: 70%;
justify-content: space-around;
}

.linhadadospessoais{
  display: flex;
  width: 100%;
  

}